@using EPiServer.Shell.Navigation
@using Microsoft.AspNetCore.Html

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dds Admin</title>
</head>
<body>
@{
        var platformNavigation = Html.CreatePlatformNavigationMenu() as HtmlString;
        var platformNavigationContent = platformNavigation.Value.Replace("data-epi-product-id=\"\"", "data-epi-product-id=\"global_cms\"");
        platformNavigation = new HtmlString(platformNavigationContent);
}
    @Html.AntiForgeryToken()
    @platformNavigation
<div @Html.ApplyPlatformNavigation()>
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
            <h1>GETA DDS Admin</h1>
    </header>
    <div class="epi-buttonDefault" style="margin-left: 20px;">
        <span class="epi-cmsButton">
            <a class="epi-cmsButton-tools epi-cmsButton-Edit"
               style="background-image: url(/App_Themes/Default/Images/Tools/SpriteTools.png); background-repeat: no-repeat; padding-left: 20px; line-height: 20px;"
               href="@Url.Action("ExcludedStores")">
                Exclude Stores
            </a>
            <span class="epi-cmsButton">
                <a class="epi-cmsButton-tools epi-cmsButton-Edit"
                   style="background-image: url(/App_Themes/Default/Images/Tools/SpriteTools.png); background-repeat: no-repeat; padding-left: 20px; line-height: 20px;"
                   href="@Url.Action("Index")">
                    Store List
                </a>
            </span>
        </span>
    </div>
    @RenderBody()
</div>
</body>
</html>
